{{ 'navigation.css' | asset_url | stylesheet_tag }}
<div class="mobile-menu-container">
  <div class="mobile-link-container">
    {% for link in linklists.main-menu.links %}
      <div class="mx-5 text-blue hover:text-black">
        <a href="{{link.url}}">{{ link.title }}</a>
      </div>
    {% endfor %}
  </div>
</div>