{{ 'navigation.css' | asset_url | stylesheet_tag }}

<div class="relative navigation-container">
  <div>
    <div class="flex justify-between items-center">

      {% if data.shop_name != blank %}
        <p class="navigation-logo">{{ data.shop_name }}</p>
      {% else %}
        <p class="navigation-logo">SHOP NAME</p>
      {% endif %}

      <nav class="flex justify-between items-center">
        <div class="mx-5 text-blue hover:text-black">
          <a href="/">Home</a>
        </div>
        <div class="mx-5 text-blue hover:text-black">
          <a href="/catalog">Catalog</a>
        </div>
        <div class="mx-5 text-blue hover:text-black">
          <a href="/contact">Contact</a>
        </div>
      </nav>

      <div class="flex justify-between  items-center">
        <div class="mx-5 text-blue hover:text-black">
          <a href="/cart">Cart</a>
        </div>
        <div class="mx-5 text-blue hover:text-black">
          <a href="#">Login</a>
        </div>
        <div class="mx-5 text-blue hover:text-black">
          <a href="#">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>