<div class="p-5 collection-container">
  <p class="font-bold text-2xl">Our {{ collection.title }}</p>
  <small class="mb-5 block" style="color: gray;">We have {{ collection.products_count }} action figures for you</small>

  {% paginate collection.products by 12 %}
    <div class="card-list-container grid lg:grid-cols-4 gap-4 sm:grid-cols-2">
      {% for product in collection.products %}
        <div>
          {% render 'product-card', product: product, show_buttons: true %}
        </div>
      {% endfor %}
    </div>
    <div class="text-center m-5">
      {{ paginate | default_pagination: next: 'Next', previous: 'Previous' }}
    </div>
  {% endpaginate %}
</div>