{{ 'home.css' | asset_url | stylesheet_tag }}

<div class="featured-product-container">
  {% if section.settings.featured_header != blank %}
    <p class="section-header">{{ section.settings.featured_header }}</p>
  {% endif %}

  {% if section.settings.featured_description != blank %}
    <p class="section-description">{{ section.settings.featured_description }}</p>
  {% endif %}

  {% for block in section.blocks %}
    {%- case block.type -%}

      {% when 'collection' %}
      <div class="grid grid-rows-1 grid-flow-col gap-4 fp-list-container">
        {% for product in block.settings.featured_product.products %}
          {% render 'product-card', product: product, show_buttons: false %}
        {% endfor %}
      </div>

    {%- endcase -%}
  {% endfor %}
</div>

<script>
  console.log("product", block.settings.featured_collection.products)
</script>

{% schema %}
  {
    "name": "Featured Product",
    "presets": [
      {
        "name": "⚡Featured Product"
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "featured_header",
        "label": "⚡Featured Header Text"
      }, {
        "type": "text",
        "id": "featured_description",
        "label": "⚡Featured Description Text"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "limit": 5,
        "name": "⚡Product",
        "settings": [
          {
            "type": "collection",
            "id": "featured_product",
            "label": "⚡Featured Product"
          }, {
            "type": "checkbox",
            "id": "show_price",
            "label": "Show Price"
          }
        ]
      }
    ]
  }
{% endschema %}