<div>
  {% render 'navigation' data: section.settings %}
</div>

{% schema %}
  {
    "name": "Navigation Bar",
    "presets": [
      {
        "name": "⚡Navigation Bar"
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "shop_name",
        "label": "Shop Name"
      }
    ]
  }
{% endschema %}