<div class="p-5">
  <p class="font-bold text-2xl mb-5">Our Collections</p>
  <div>
    {% for collection in collections %}
      {% render 'collection-card', collection: collection %}
    {% endfor %}
  </div>
</div>