.banner-container{
    height: 500px;
    background-color: #f9f9f9;
}
.hero-banner-content{
    padding: 10px 0px 10px 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero-banner-header{
    font-size: 40px;
    color:goldenrod;
    font-weight: 800;
}
.hero-banner-sub-header{
    width: 500px;
    margin: 10px 0px;
}
.hero-banner-image-container{
    padding-right: 200px;
}

.hero-banner-button{
    background-color: #6f6f6f;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s;
}

.hero-banner-button:hover{
    background-color: #9f9f9f;
    transition: 0.3s;
}

.hero-banner-announcement{
    background-color: goldenrod;
    padding: 10px 0px;
    color: #fff;
}

.featured-product-container{
    padding: 20px 200px;
}
.product-card-container{
    width: 200px;
    height: auto;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}
.product-card-img-container{
    height: 200px;
    overflow: hidden;
}
.product-card-img-container > img{
    height: 200px;
    width: 100%;
}
.collection-container{
    padding: 20px 200px;
}
.section-header{
    color: goldenrod;
    font-size: 24px;
    font-weight: 500;
}
.section-description{
    color: gray;
    font-size: 20px;
    margin-bottom: 10px;
}
.collection-list-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.collection-card-container{
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px #c4c4c4;
    border-radius: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}
.collection-card-img-container{
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.collection-card-img-container > img{
    height: auto;
    width: 100%;
}
.collection-title{
    color: goldenrod;
    font-weight: 400;
}
.collection-title:hover{
    text-decoration: underline;
}

@media (max-width: 500px) {
    .hero-banner-content{
        padding: 10px 0px 10px 20px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
    }
    .hero-banner-image-container{
        padding-right: 0px;
        position: absolute;
    }
    .hero-banner-sub-header{
        color: #fff;
    }
}